.serve_title, .title_test {
    color: #c9c9c9;
    font-size: 1.4em;
    margin-bottom: 16px;
    font-weight: bold;
    margin-bottom: 7%;
}

.title_test {
    margin-bottom: 3%!important;
}

.mbt_serv {
    margin-bottom: 17%;
}

.icon {
    margin-bottom: 20px;
    font-size: 2.6em;
    color: #c9c9c9;
    border: 2px solid #c9c9c9;
    padding: 5px
}

.my_row p {
    color: #c9c9c9;
}

.my_row button {
    width: 150px;
    padding: 12px;
    border: 2px solid #c9c9c9;
    background-color: transparent;
    color: #777;
    font-weight: bold;
    transition: all .4s ease-in-out;
    text-transform: capitalize;
    margin-top: 3%;
}

.my_row button:hover {
    background-color: #cdcdcd;
    color: white
}

.testimonial {
    border: 1px solid #c9c9c9;
    padding: 30px
}

.img_test {
    width: 70px;
    height: 70px;
    border: 1px solid #c9c9c9;
    padding: 2px
}

.disc_test {
    width: 600px;
    margin: auto;
    color: #b8b3b3;
}

.testimonial {
    margin-bottom: 10%;
}

.testimonial>span {
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 2px solid #c9c9c9;
    margin-right: 10px;
    transition: all .4s ease-in-out;
    cursor: pointer
}

.testimonial>span.active {
    background-color: #c9c9c9;
}

.testimonial>span:hover {
    background-color: #c9c9c9;
}

.title_test {
    position: relative;
    top: -70px;
}

.testimonial .name {
    color: #777;
    margin-bottom: 21px;
    font-size: 1.2em;
}

@media (max-width:767px) {
    .title_test {
        position: relative;
        top: -10px;
    }
    .disc_test {
        width: 100%
    }
}