.experience, .education, .soft_skill, .language {
    margin-bottom: 40px;
}

.div_title {
    background-color: #c9c9c9;
    padding: 10px;
    width: 60%;
    margin-bottom: 30px;
}

.experience .title_exp, .title_edu {
    color: #eee
}

.becode, .Junior, .Software {
    color: #777;
    font-size: 1.3em;
    font-weight: bold;
}

.date {
    color: #777;
    font-size: 1.1em;
    margin: 10px 0
}

.job-disc {
    width: 40%;
    color: #777;
}

@media (max-width:767px) {
    .job-disc {
        width: 100%
    }
}