.reserved {
  background-color: #cdcdcd;
  text-align: center;
  padding: 20px
}

.reserved .title {
  text-transform: capitalize;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.mundher {
  font-family: vortice-concept, sans-serif;
  font-weight: 400;
  padding: 50px;
}

.mundher .title {
  text-align: center;
  font-size: 3.3em!important;
  color: #707070;
}

/* Style Of Bootstrap */

.navbar-nav .nav-item {
  background-color: #c9c9c9;
  margin-right: 10px;
}

.navbar-light .navbar-nav .nav-link {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1em;
  padding: 18px 38px;
  color: white!important;
  z-index: 100;
  display: block;
  width: 78px;
  text-align: center;
}

nav {
  border: 2px solid #cdcdcd;
  margin-bottom: 10%;
}